
.editionText {
    font-size: 0.17em;
    width:600px;
}
.editionTitle {
    margin-bottom: 70px;
    font-size: 1.8em;
    font-weight: bolder;
}
.editionCorpus {
    width: 400px;
    white-space: pre-line;
}