@media (max-width: 1140px) {

    .imageScrollWrapper {
        position: absolute;   
        margin-top: 35vh;
        margin-right: 10vh;
        z-index: 101;
        overflow: scroll;   
    }
    .imageBottom,
    .image {
        width: 80vw;
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out; 
    }
    .imageBottom:hover, 
    .image:hover {
        opacity: 1;
    }
    ::-webkit-scrollbar { 
        display: none; 
    }
    .imageBlock {  
    }

}
@media (min-width: 1140px) {

    .imageScrollWrapper {
        position: relative;
        margin-left: 20px;
        overflow-y: scroll;
        height: 100vh;
        z-index: 100;
    }
    ::-webkit-scrollbar { 
        display: none; 
    }
    .imageBottom,
    .image {
        height: 100%;
        opacity: 0.5;
        transition: opacity 0.5s ease-in-out;         
    }
    .imageBottom:hover, 
    .image:hover {
        opacity: 1;
    }
    .imageLine {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40vh;
        margin-bottom: 20vh;
    }
    .singleImage {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-left: 330px;
        height: 40vh;
        margin-bottom: 20vh;    
    }

}
   

