@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
div {
  outline: none;
}
/* .slider {
  cursor: e-resize;
} */
.CarouselWrapper {
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    top: 8vh;
    overflow: scroll;
}
.pageIndex {
  font-size: 23px;
  margin-left: 22.5vw;
}
.details {
    margin: none;
    padding: none;
    display: flex;
    border: none;
    text-decoration: none;
    margin-left: 18vw;
}
.slick-slide img {
    display: block;
    margin: auto;
    width: 55%;
    
}
.slick-slide img.slick-loading {
    border: none;
}
.slick-dots {
    margin-left: 0;
}
.verticalScroll {
  display: none;
}

  @media (max-width: 1140px) {
    .slider {
      display: none;
    }
    .pageIndex {
      display: none;
    }
    .CarouselWrapper {
      overflow-y: scroll;
      margin-top: 17vw;
      cursor: auto;
    }
    .verticalScroll {
      margin-top: 17vh;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      padding-bottom: 10vh;
    }
    .smallDisplayImages{
      width: 90vw;
    }
  }
  /* @media (max-width: 768px) {
    .CarouselWrapper {
      overflow-y: scroll;
    }
    h3 {
      font-size: 24px;
    }
    .center {
      margin-left: -40px;
      margin-right: -40px;
    }
    .center .slick-center h3 {
      color: #e67e22;
      opacity: 1;
      transform: scale(1);
    }
    .center h3 {
      opacity: 0.8;
      transform: scale(0.95);
      transition: all 300ms ease;
    }
  } */
  .slick-vertical .slick-slide {
    height: 180px;
  }
  .slick-arrow {
    background-color: grey;
    /* color: black; */
  }
  .slick-arrow:hover {
    background-color: grey;
  }


