.detailsWrapper {
    margin: 0px;
    padding: 0px;
    width: 65vw;

}
.columnsContainer {
    display: flex;
    justify-content: flex-start;
    max-height: 75vh;
}
.description {
    font-size: 18px;
    width: 30%;
    margin-right: 3vw;
}
.line {
    margin: 0px;
}
.summary {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.summaryItem {
    white-space: pre-line;
    width: 15vw;
    padding-right: 5vw;
    margin-bottom: 20px;;
}
.issueDetailHeader {
    font-size: 25px;
    font-family: 'Ecam-Bold';
}
.sectionTitle {
    font-size: 19px;
    font-family: 'Ecam-Bold';
}
.presentation,
.figureDeStyle {
    margin-top: 20px;
}
.detail {
    max-width: 300px;
    margin-bottom: 20px;
    white-space: pre-line;
}



