.issueOrdertWrapper {
    margin-top: 30px;
    margin-left: 1px;
    border-right: 4px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30vh;
}

.orderBolderFont {
    font-size: 1.7em;
    font-family: 'Ecam-extraBold';
}