
.issueContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;     
    font-size: 1.3em;
    font-weight: bolder;
}

.issueLine {
    width: 30px;
    height: 3px;
    background-color: black;
    align-self: flex-end;
}
.issueTitle {
    white-space: nowrap;
}
@media(max-width: 900px) {
    .issueContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;     
        font-size: 0.6em;
        font-weight: bolder;
    }
    .issueLine {
        display: none;
    }
    .pageTitleWrapper {
        background-color: white;
    }
}
@media (min-width: 1140px) {
    .issueContainer {
        position: relative;        
        transform: rotate(180deg);
        text-orientation: sideways;
        writing-mode: vertical-rl;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-weight: bolder;
        font-size: 0.8em;
        margin-right: 80px;
    }
    .issueLine {
        width: 3px;
        height: 30px;
        background-color: black;
    }
    .issueTitle {
        margin-left: 5px;
    }
    span {
        font-size: 0.8em;
    } 
}



