.shopDetailPres {
    font-size: 18px;
    width: 250px;
}
.detailDiv {
    font-size: 18px;
    white-space: pre-line;

}
.shopDetailPicture {
    width: 25vw;
}
.shopDetailWrapper {
    margin-top: 17vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middleColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopOrderIssue {
    font-size: 25px;
    font-family: 'Ecam-bold';
    cursor: pointer;
}

.shopIssuePresTitle {
    font-size: 18px;
    font-family: 'Ecam-bold';
}

.fixedTitle {
    position: fixed;
    left: 4vw;
    top: 60vh;
}
.shopIssueNumber > span,
.shopIssueNumber {
    font-size: 55px;
    font-family: 'Ecam-Bold'   
}

.shopIssueNumber > span {
    border-bottom: 4px solid black;
}

