
.shopItem {
    width: 400px;
    margin-left: 20px;
}
.emptySpot {
    width: 400px;
    height: 200px;
}
.hoveredImg:hover {
    opacity: 0.9;
}
.hoveredImg {
    position: absolute;
    cursor: pointer;
    margin-left: 20px;    
    background-color: rgb(245, 245, 220);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.hoveredImg span, 
.hoveredImg .bigFont {
    font-size: 40px;
    font-family: "Ecam-bold";
}

.hoveredImg div span {
    border-bottom: 3px solid black;
    margin-left: 5px;
}

.issuePrice {
    font-size: 20px;
}

@supports (display: grid) {
    @media (min-width: 1830px) {
        .hoveredImg {    
            width: 400px;
            height: 301px;
        }
        .issueWrapper {
            display: grid;
            grid-template-columns: 3fr 3fr 3fr;
            grid-template-rows: 2fr 2fr;
            grid-template-areas:
                "topLeft topCenter topRight"
                "bottomLeft bottomCenter bottomRight"
        }
        #image0 {
          grid-area: topCenter;
        }
        #image1 {
          grid-area: topRight;
        }
        #image2 {
        grid-area: bottomLeft;
        }
        #image3 {
        grid-area: bottomCenter;
        }
        #image4 {
        grid-area: bottomRight;
        }
    }
    
    @media (max-width: 1830px) {
        .shopItem {
            width: 300px;
        }
        .hoveredImg {
            width: 300px;
            height: 226px;
        }
        .issueWrapper {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            grid-template-rows: 2fr 2fr;
            grid-template-areas:
                "topLeft topCenter topRight"
                "bottomLeft bottomCenter bottomRight"
        }
        #image0 {
          grid-area: topCenter;
        }
        #image1 {
          grid-area: topRight;
        }
        #image2 {
        grid-area: bottomLeft;
        }
        #image3 {
        grid-area: bottomCenter;
        }
        #image4 {
        grid-area: bottomRight;
        }
    }

    @media (max-width: 1586px) {
        .shopItem {
            width: 300px;
            margin-left: 20px;
        }
        .hoveredImg {
            width: 300px;
            height: 226px;
        }
        .issueWrapper {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 2fr 2fr 2fr;
            grid-template-areas:
                "topLeft topCenter"
                "topRight bottomLeft"
                "bottomCenter bottomRight"
        }
        #image0 {
          grid-area: topCenter;
        }
        #image1 {
          grid-area: topRight;
        }
        #image2 {
        grid-area: bottomLeft;
        }
        #image3 {
        grid-area: bottomCenter;
        }
        #image4 {
        grid-area: bottomRight;
        }
    }
    @media (max-width: 900px) {

        .shopItem {
            width: 100%;
            margin-left: 0px;
        }
        .hoveredImg {
            display: none;        
        }
        .emptySpot {
            display: none;
        }
        .issueWrapper {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas:
                "topCenter"
                "topRight"
                "bottomLeft"
                "bottomCenter"
                "bottomRight"
                "topLeft"
        }
        #image0 {
          grid-area: topCenter;
        }
        #image1 {
          grid-area: topRight;
        }
        #image2 {
        grid-area: bottomLeft;
        }
        #image3 {
        grid-area: bottomCenter;
        }
        #image4 {
        grid-area: bottomRight;
        }
    }
  } 
