@media (max-width: 1140px) {
  .fig,
  .revue {
    font-family: 'Ecam-Bold';
    font-size: 4em;
    line-height: 0.4;
    z-index: 5;
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transform: rotate(90deg);
    overflow: hidden;
  }

  .subtitle {
    display: none;
  }
  .imageLine {
    overflow: hidden;
  }
}
@media (min-width: 1140px) {
  .fig,
  .revue {
    font-family: 'Ecam-Bold';
    font-size: 6.6em;
    line-height: 0.4;
  }
  .fig {
    line-height: 1.2;  
  }
  .bottom-title {
    display: flex;
    flex-direction: row;
  }
  .subtitle {
    font-family: 'Ecam-Bold';
    font-size: 0.3em;
    align-self: center;
    padding-left: 65px;
    padding-top: 200px;
  }

  .titleWrapper {
      top: 0px;
      position: fixed;
      overflow: hidden;
      z-index: 2;
      height: 100vh;
  }
}