@media (max-width: 1140px) {
  .fig,
  .revue {
    font-family: 'Ecam-Bold';
    z-index: 16;
    }

  .backgroundTitleWrapper {
    display: none;
  }
  .subtitle {
    display: none;
  }

}
@media (min-width: 1140px) {
  .fig,
  .revue {
    position: relative;
    font-family: 'Ecam-Bold';
    line-height: 0.4;
  }
  .fig {
    line-height: 1; 
  }
  .bottom-title {
    display: flex;
    flex-direction: row;
  }
  .subtitle {
    font-family: 'Ecam-Bold';
    font-size: 2em;
    align-self: center;
    padding-left: 65px;
    padding-top: 200px;
  }

  .backgroundTitleWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0px;
      position: fixed;
      overflow: hidden;
      z-index: -10;
      height: 100vh;
  }
}