@import "~font-awesome/css/font-awesome.css";

.App {
  overflow: hidden;
}
.Content {
  font-size: 100px;
  width: inherit;
}




@supports (display: grid) {
  @media (max-width: 1139px) {
    .App {
      margin-left: 8vh;
      display: grid;
      grid-template-columns: 10vw;
      grid-template-rows: 15vh 85vh;
      grid-template-areas:
           "menu"
           "content"
    }
    .Content {
      grid-area: content;
    }
    
    .Menu {
      grid-area: menu;
    }
  }
  @media (min-width: 1140px) {
      .App {
          display: grid;
          grid-template-columns: 6fr 300px;
          grid-template-rows: 100vh;
          grid-template-areas:
              "content menu"
      }
      .Content {
        grid-area: content;
      }
      
      .Menu {
        grid-area: menu;
      }
  }
}