.collectionContainer {
    height: 100vh;
    position: fixed;
}

.pageTitle {
    margin-top: 18vh;
    margin-left: 3vw;
    z-index: 2;
}

@media (max-width: 1140px) {
    .pageTitle {
        position: static;
        width: auto;
    }

    .collectionContainer {
        display: flex;
    }

}



