.menuWrapper {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 20px;
    z-index: 101;
}
button {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.menuHeader {
    font-family: 'Ecam-Regular';
    font-size: 25px;
    text-align: end;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.list {
    list-style: none;
}
li {
    font-size: 18px;
    text-align: end;
    padding-bottom: 7px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
li:hover {
    font-family: 'Ecam-extraBold';
}
li:clicked {
    font-weight: 'bolder';
    text-decoration: none;
}

.selected {
    font-weight: 'bolder';
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


@media (max-width: 1140px) {
    .menuWrapper {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15vh;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        background-color: white;
        z-index: 101;        
    }
    .menuHeader {
        font-family: 'Ecam-Regular';
        font-size: 45px;
    }
    .menuContainer {
      margin-top: 6vh;
    }
    .selected {
        font-weight: 'bolder';
        text-decoration: none;
        color: black;
    }
}

