
.metaContainer {
    margin-top: 17vh;
}
.pageTitleWrapper {
    top: 25vh;
    position: fixed;
    width: 90vw;
}
.shopContainer {
    margin-top: 32vh;
}

@media (min-width: 1140px) {
    .pageTitleWrapper {
        position: static;
        width: auto;
    }
    .shopContainer {
        margin-top: auto;
    }
    .metaContainer {
        display: flex;
        margin-left: 5vw;
        margin-top: 15vh;
    }
}




